<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>Test_BusSearch.testNotYetOpenSearch(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.poc.test.TestNG.Test_BusSearch@56dfcb]<br/>Test_BusSearch.testvalidSearch(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.poc.test.TestNG.Test_BusSearch@56dfcb]<br/>Test_BusSearch.testInvalidSearch(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.poc.test.TestNG.Test_BusSearch@56dfcb]<br/></td></tr>
</table>
