<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6de788">  <td>16/05/25 21:28:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test_BusSearch.closeActivities()[pri:0, instance:com.poc.test.TestNG.Test_BusSearch@56dfcb]">&lt;&lt;closeActivities</td> 
<td>&nbsp;</td>  <td>main@17136185</td>   <td></td> </tr>
<tr bgcolor="6de788">  <td>16/05/25 21:27:01</td>   <td>-79846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_BusSearch.testvalidSearch(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.poc.test.TestNG.Test_BusSearch@56dfcb]">testvalidSearch</td> 
  <td>main@17136185</td>   <td></td> </tr>
</table>
